@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Lexend+Deca:wght@800&family=Work+Sans:ital,wght@1,500&display=swap');

@font-face {
  font-family: eggFont;
  src: url(/public/images/eggFont.ttf);
}

@font-face {
  font-family: subtitle;
  src: url(/public/images/subtitle.ttf);
}

* {
  font-family: 'Lexend Deca', sans-serif;
  font-weight: normal;
  text-decoration: none;
}

body {
  background-color: rgb(255, 237, 186);
  margin: 0;
}

ul {
  padding-inline-start: 0;
}