@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Lexend+Deca:wght@800&family=Work+Sans:ital,wght@1,500&display=swap');

* {
  font-family: 'Lexend Deca', sans-serif;
  font-weight: normal;
  text-decoration: none;
}

body {
  background-color: rgb(255, 237, 186);
  margin: 0;
}

h1 {
  font-size: 100px;
  font-weight: 500;
  letter-spacing: 3px;
  margin-top: 23%;
  margin-bottom: 0;
  text-align: left;
}

button {
  background-color: rgb(170, 170, 224);
  border: none;
  color: white;
  font-size: 30px;
}

span {
  color: darkseagreen;
}

#loading-container { 
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  position: absolute;
  text-align: center;
  top: 20%;
}

#loading-container p {
  color: rgb(254, 207, 76);
  font-size: 42px;
}

#loading-bubbles {
  height: 100%;
  margin: auto;
  text-align: center;
}

li {
  font-size: 35px;
}

ol {
  padding: 0;
}

hr {
  border: 0;
  box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5);
  height: 12px;
  margin: 0;
  padding: 0;
}