header {
    background-color: cornsilk;
    border-radius: 0 0 1.5vw 1.5vw;
    box-shadow: 0 .2vw .5vw 0 rgb(158, 158, 158);
    margin: 0 auto;
    position: fixed;
    width: 100%;
    z-index: 997;
}

header h1 {
    color: black;
    font-family: eggFont;
    font-size: 8vh;
    margin: 0;
    text-align: center;
}

input {
    border: solid .25vh orange;
    border-radius: 100px;
    font-family: subtitle;
    height: 5vh;
    padding-left: 1vw;
    width: 49%;
}

button {
    background-color: transparent;
}

.title-span {
    color: rgb(255, 205, 68);
    font-family: eggFont;
    font-size: 8vh;
}

.status-container {
    align-items: center;
    background-color: cornsilk;
    bottom: 0;
    display: flex;
    height: 8vh;
    justify-content: center; 
    position: fixed;
    width: 100%;
}

.status-container img {
    height: 4vh;
}

.emoji-picker {
    bottom: 8vh;
    position:fixed;
    right: 24vh;
    width: 30vh;
}

@media screen and (max-width: 600px) {
    header h1 {
        font-size: 8vw;
    }
    
    .title-span {
        font-size: 8vw;
    }

    .emoji-picker {
        display: none;
    }

    .emoji-picker-icon {
        display: none;
    }
}


