.eggy {
    align-items: center;
    display: flex;
    opacity: 0;
    position: fixed;
    z-index: 997;
}

.eggy-picture {
    height: 10vw;
    width: 10vw;
}

.eggy-message {
    background-color: white;
    border-radius: 2vw 2vw 2vw 0;
    margin-left: 2vh;
    max-height: 10vw;
    max-width: 25vw;
    padding: .75vw;
    transition: all .5s;
}

.top {
    animation: moveDown .75s .75s forwards;
    right: 35vw;
    top: -10vh;
}

.top-right {
    animation: moveLeft .75s .75s forwards;
    right: -35vw;
    top: 2vh;
}

.top-right-chat {
    animation: moveLeft .75s forwards;
    right: -35vw;
    top: 2vh;
}

.bottom {
    animation: moveUp .75s .75s forwards;
    bottom: -35vh;
    right: 35vw;
}

.bottom-right {
    animation: moveLeft .75s .75s forwards;
    bottom: 0vh;
    right: -35vw;
}

.bottom-left {
    animation: moveRight .75s .75s forwards;
    bottom: 1vh;
    left: -35vw;
}

@media screen and (max-width: 900px){
    .eggy-picture {
        height: 12vw;
        width: 12vw;
    }
    
    .eggy-message {
        font-size: 2vw;
        max-height: 40vw;
        padding: 1.5vw;
    }
} 

@media screen and (min-width: 901px){
    .eggy-picture {
        height: 100px;
        width: 100px;
    }
    
    .eggy-message {
        font-size: 16px;
        max-height: 35vw;
        padding: 10px;
    }
}

@keyframes moveDown {
    0% {
        top: -10vh;
    }
    25% {
        opacity: 0%;
    }
    100% {
        opacity: 100%;
        top: 2vh;
    }
}

@keyframes moveRight {
    0% {
        left: -35vw;
    }
    25% {
        opacity: 0%;
    }
    100% {
        opacity: 100%;
        left: 1vw;
    }
}

@keyframes moveLeft {
    0% {
        right: -35vw;
    }
    25% {
        opacity: 0%;
    }
    100% {
        opacity: 100%;
        right: 1vw;
    }
}

@keyframes moveUp {
    0% {
        bottom: -35vh;
    }
    25% {
        opacity: 0%;
    }
    100% {
        bottom: 1vh;
        opacity: 100%;
    }
}