.error-container {
    text-align: center;
    width: 100vw;
}

.error-code {
    font-size: 60px;
    font-family: subtitle;
    /* width: 45vw; */
    margin: 5vh auto;
}

.easter-egg {
    width: 25vw;

}