.homepage-content{
    bottom: 0;
    left: 3vw;
    padding: 0 2vw;
    position: absolute;
    right: 0;
    top: 0;
}
  
.homepage-image {
    animation: appearImage .8s forwards;
    border: dotted .25vw rgb(255, 185, 56);
    border-radius: 100% 100% 50% 50%;
    height: 45vw;
    object-fit: cover;
    position: absolute;
    right: 5%;
    width: 40vw;
    z-index: 0;
}

.egg-white {
    animation: appearWhite .55s forwards;
    background-color: rgb(255, 252, 250);
    border-radius: 60% 80% 60% 60%;
    height: 6vw;
    position: absolute; 
    top: 64vh;
    transition: all .5s;
    width: 18vw;
    z-index: 0;
}

.homepage-text-container {
    align-items: left;
    padding: 8vw 2vw;
    width: 45%;
    z-index: 1;
}

.homepage-text-container h1 {
    animation: appearTitle 1.3s forwards;
    color: rgb(255, 185, 56);
    font-family: eggFont;
    font-size: 6vw;
    max-height: 40vh;
    opacity: 0;
    transition: all .5s;
}

.start-quiz-button {
    animation: appearYolk .8s forwards;
    background-color: transparent;
    border: dotted .15vw rgb(255, 185, 56);
    border-radius: 100%;
    color: rgb(255, 185, 56);
    display: block;
    font-family: subtitle;
    font-size: 2vw;
    height: 7vw;
    position: absolute;
    top: 58vh;
    transition: all .5s;
    width: 7vw;
    z-index: 1;
} 

.start-quiz-button:hover {
    background-color: rgb(255, 185, 56);
    color: rgb(255, 255, 255);
}


@keyframes appearImage {
    from {
        bottom: -50vh;
        opacity: 0;
    }
    to {
        bottom: .5vw;
        opacity: 1;
    }
}


@keyframes appearWhite {
    from {
        left: -15vw;
    }
    to {
        left: 31vw;
    }
}

@keyframes appearYolk {
    from {
        left: -15vw;
    }
    to {
        left: 37vw;
    }
}


@keyframes appearTitle {
    25% {
        opacity: 0;
    }
    100% {
        opacity: 100%;
    }
}

@media screen and (max-width: 800px) {
    .homepage-text-container h1 {
        font-size: 60px;
        max-width: 40vw;
        position: absolute;
        top: 20vh;
    }

    .start-quiz-button {
        display: block;
        font-size: 4vw;
        height: 12vw;
        left: 25%;
        top: 60vh;
        width: 12vw;
    } 

    .egg-white {
        height: 11vw;
        left: 20%;
        top: 64vh;
        width: 33vw;
    }

    .homepage-image {
        display: none;
    }
}

@media screen and (max-width: 515px) {
    .homepage-text-container h1 {
        font-size: 13vw;
        max-width: 90vw;
        position: absolute;
        top: 20vh;
    }

    .start-quiz-button {
        display: block;
        font-size: 4vw;
        height: 16vw;        
        top: 62vh;
        width: 16vw;
    } 

    .egg-white {
        bottom: auto;
        height: 15vw;
        top: 64vh;
        width: 37vw;
    }
}