.homepage-content{
    bottom: 0;
    display: flex;
    flex-direction: column;
    left: 30px;
    padding: 0px 20px;
    position: absolute;
    right: 0;
    top: 0;
  }
  
.homepage-image {
    border: dotted 4px rgb(255, 185, 56);
    border-radius: 100% 100% 50% 50%;
    bottom: 0;
    height: 650px;
    object-fit: cover;
    position: absolute;
    right: 5%;
    width: 600px;
    z-index: 0;
}

.egg-white {
    background-color: rgb(255, 252, 250);
    border-radius: 60% 80% 60% 60%;
    bottom: 24%;
    height: 100px;
    left: 30%;
    position: absolute;
    width: 250px;
    z-index: 0;
}

.homepage-text-container {
    align-items: center;
    width: 45%;
    z-index: 1;
}

.homepage-text-container h1 {
    color: rgb(255, 185, 56);
    font-family: eggFont;
    font-size: 100px;
}

.start-quiz-button {
    background-color: transparent;
    border: dotted 2px rgb(255, 185, 56);
    border-radius: 100px;
    bottom: 26%;
    color: rgb(255, 185, 56);
    display: block;
    font-family: subtitle;
    font-size: 26px;
    height: 100px;
    left: 35%;
    position: absolute;
    width: 100px;
} 

.start-quiz-button:hover {
    background-color: rgb(255, 185, 56);
    color: rgb(255, 255, 255);
}
