.loserboard-title {
    color: white;
    font-family: eggFont;
    font-size: 12vh;
    margin: 0 auto;
    padding: 4vh;
    text-align: center;
    text-shadow: 1vh -1vh rgba(255, 189, 90, 0.722);
    -webkit-text-stroke: .25vh black;
    width: 85vw;
}

.cooking-container {
    animation: flip .7s forwards;
    display: block;
    position: absolute;
    transform: rotate(-25deg) translate(30vh, -5vh);
    width: 50vw;
}

.frying-pan {
    height: 35vw;
    left: 40vw;
    position: absolute;
    width: 35vw;
}

.real-egg {
    animation: eggMove .7s forwards;
    height: 10vw;
    left: 50vw;
    position: absolute;
    top: 21vw;
}

.facial-expression {
    animation: opaque .1s .75s forwards;
    height: 4vw;
    left: 40vw;
    opacity: 0;
    position: absolute;
    top: 14vw;
}

.loser-name {
    animation: opaque .1s .75s forwards;
    color: black;
    font-family: eggFont;
    font-size: 2vw;
    left: 23vw;
    opacity: 0;
    position: absolute;
    text-align: center;
    top: 13.5vw;
    width: 12vw;
    z-index: 998;
}

@keyframes flip {
    0% {
        transform: rotate(-25deg) translate(30vh, -5vh);
    }

     100% {
        transform: none;
     }
}

@keyframes eggMove {
    from {
        transform: scale(1, .65);
    }
    to {
        transform: translate(-18vw, -12vw) scale(3, 3) ;
    }
}

@keyframes opaque {
    from {
        opacity: 0;
    }
    to {
        opacity: 100%;
    }
}

@media screen and (max-width: 500px) {
    .loserboard-title {
        font-size: 5vh;
        text-shadow: .5vh -.5vh rgba(255, 189, 90, 0.722);
        -webkit-text-stroke: .1vh black;
    }

    .cooking-container {
        height: 60vh;
        justify-content: center;
    }

    .frying-pan {
        height: 45vw;
        left: 43vw;
        top: 25vh;
        width: 45vw;
    }
    
    .real-egg {
        animation: eggMove .7s forwards .3s;
        height: 8vw;
        left: 60vw;
        top: 88vw;
        width: 10vw;
    }
    
    .facial-expression {
        animation: opaque .1s .85s forwards;
        height: 8vw;
        left: 47.5vw;
        top: 58vw;
    }
    
    .loser-name {
        animation: opaque .1s .85s forwards;
        font-size: 4vw;
        left: 20vw;
        top: 57vw;
        width: 22vw;
    }

    @keyframes flip {
        0% {
            transform: rotate(-25deg) translate(30vh, -10vh);
        }
    
         100% {
            transform: none;
         }
    }
    
    @keyframes eggMove {
        from {
            transform: scale(1, .65);
        }
        to {
            height: 50vw;
            transform: translate(-45vw, -25vh);
            width: 60vw;
        }
    }
}

