.all-user-posts {
    display: flex;
    flex-direction: column;
    height: 80vh;
    overflow-y: scroll;
    padding: 70px 0px;
    width: 100%;
}

.received-container {
    align-items: end;
    animation: slowAppear .5s;
    animation-fill-mode: forwards;
    display: grid;
    gap: 20px;
    grid-template-columns: 50px 35vw;
    margin: 0px 20px 10px;
    opacity: 0;
    width: 40%;
}

.sent-container {
    align-items: end;
    align-self: flex-end;
    animation: slowAppear .5s;
    animation-fill-mode: forwards;
    display: grid;
    float: right;
    gap: 20px;
    grid-template-columns: 35vw 50px;
    margin: 0px 20px 20px 10px;
    opacity: 0;
}

.sent-contents {
    background-color: white;
    border-radius: 20px 20px 0px 20px;
    margin: 0 0 5px;
    padding: 10px;
    width: 100%;
    word-wrap: break-word;
}

.your-user-container {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    margin: 10px;
    padding: 5px;
}

.your-user-container p {
    font-family: subtitle;
}

.your-user-name {
    margin: 0 0px 0px auto;
}

.user-container {
    align-items: flex-end;
    display: flex;
    flex-direction: column;
    margin: 10px;
    padding: 5px;
}
.user-container p {
    font-family: subtitle;
}

.user-name {
    margin: 0 auto 0px 0px;
}

.user-picture {
    background-color: white;
    border-radius: 100px;
    height: 30px;
    margin: 5px;
    padding: 5px;
}

.post-contents {
    background-color: white;
    border-radius: 20px 20px 20px 0;
    margin: 0 0 5px;
    padding: 10px;
    width: 100%;
}

.all-user-posts::-webkit-scrollbar {
    display: none;
}

@keyframes slowAppear {
    from {
        opacity: 0%;
    }
    to {
        opacity: 100%;
    }
}

body::-webkit-scrollbar {
    display: none;
}