.quiz-container {
    align-items: center;
    display: grid;
    grid-template-columns: auto auto;
    margin: auto 0px;
    justify-content: center;
    text-align: center;
    height: 100vh;
}

.quiz-question {
    animation: showQuestions .75s;
    animation-fill-mode: forwards;
    font-size: 70px;
    font-family: eggFont;
    margin-right: 15vw;
    width: 45vw;
}

.selection-container {
    align-items: center; 
    animation: showAnswers .75s;
    animation-fill-mode: forwards;
    list-style: none; 
    margin-left: 15vw;
    vertical-align: middle;
    width: 40vw;
}

@keyframes showQuestions {
    from {
        margin-right: 15vw;
    }
    to {
        margin-right: 0;
    }
}

@keyframes showAnswers {
    from {
        margin-left: 15vw;
    }
    to {
        margin-left: 0;
    }
}

.selection-button {
    background-color: white;
    color: black;
    border-radius: 15px;
    font-family: subtitle;
    margin: 5px;
    padding: 15px 5px;
    width: 100%;
}

.selection-button:hover {
    background-color: white;
    color: rgb(254, 207, 76);
}

#loading-container { 
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    position: absolute;
    text-align: center;
    width: 100%;
    top: 10%;
}
  
#loading-container p {
    color: rgb(254, 207, 76);
    font-family: eggFont;
    font-size: 55px;
}
  
#loading-bubbles {
    height: 100%;
    margin: auto;
    text-align: center;
}
