.result-title {
    font-size: 60px;
    margin-top: 0px;
    padding: 1% 5%;
    text-align: center;
  }
  
  .result-subtitle {
    font-size: 30px;
    text-align: center;
  }
  
  .result-description {
    font-size: 20px;
    margin:0 auto;
    padding-bottom: 200px;
    text-align: center;
    width: 700px;
  }
  
  .twelve-steps-button {
    background-color: darkseagreen;
    border-radius: 100px;
    bottom: 5%;
    height: 160px;
    left: 45%;
    position: fixed;
    width: 160px;
    z-index: 2;
  }
  
  .twelve-steps-button:hover {
    background-color: transparent;
    border: solid;
    border-color: darkseagreen;
    color:darkseagreen;
  }
  
  .egg-white-two {
    background-color: rgb(255, 252, 250);
    border-radius: 60% 80% 60% 60%;
    bottom: 1%;
    height: 150px;
    left: 35%;
    position: fixed;
    width: 450px;
    z-index: 1;
  }