.menu-icon {
    left: 1%;
    position: fixed;
    top: 2%;
    z-index: 998;
}

.sidebar {
    background-size: cover;
    height: 40vh;
    position: fixed;
    right: 100%; 
    top: 0;
    visibility: hidden;
    width: 28vw;
    z-index: 999;
}

.sidebar-background {
    background: linear-gradient(90deg, rgb(255, 237, 186) 0%, rgb(255, 237, 186) 40%, rgba(255, 237, 186, 0.941) 85%, rgba(255, 237, 186,0) 100%);    height: 100%;
    position: fixed;
    right: 100%;
    top: 0;
    transition: right .7s;
    width: 55vw;
}

.fried-egg {
    background-size: cover;
    height: 25vw;
    position: fixed;
    right: 100%; 
    top: 0;
    transition: right .6s ease-out;
    width: 25vw;
}

.navlink-container {
    display: grid;
    gap: 3vw;
    margin-left: 10px;
    opacity: 0;
    padding: 10% 5% 0 0%;
    text-align: left;
    transition: padding .5s, opacity .6s;
    visibility: hidden;
    width: 100%;
}

.navlink {
    color: rgb(0, 0, 0);
    font-family: subtitle;
    font-size: 2.6vw;
    letter-spacing: 0;
    text-decoration: none;
    z-index: 999;
}

.menu-icon:hover {
    ~ .sidebar .fried-egg {
        right: 90%;
        visibility: visible;
    }

    ~ .sidebar .navlink-container {
        opacity: 100%;
        padding-left: 100%;
    }

    ~ .sidebar .sidebar-background {
        right: 55vw;
    }
}

.sidebar:hover {
    right: 90%;
    visibility: visible;

    .fried-egg {
        right: 90%;
        visibility: visible;
    }
    
    .navlink-container {
        opacity: 100%;
        padding-left: 100%;
        visibility: visible;
    }

    .sidebar-background {
        right: 55vw;
    }
}

.sidebar:not(:hover) {
    visibility: visible;
    .navlink-container {
        opacity: 100%;
        padding-left: 0%;
    }
}

@media screen and (max-width: 600px) {
    .navlink {
       font-size: 20px; 
    }
    
    .menu-icon {
        height: 5vw;
        top: 1%;
    }
}