.menu-icon {
    left: 4px;
    position: fixed;
    top: 4px;
    z-index: 998;
}

.sidebar {
    background-image: url('/public/images/friedegg.png');
    background-size: cover;
    height: 330px;
    right: 100%; 
    position: fixed;
    top: 0;
    transition: right 1s ease-out;
    width: 340px;
    visibility: hidden;
    z-index: 999;
}

.menu-icon:hover {
    ~ .sidebar {
        right: 70%;
        visibility: visible;
    }

    ~.navlink-container {
        padding-left: 100%;
        opacity: 100%;
    }
}

.sidebar:hover {
    right: 90%;
    visibility: visible;
    
    .navlink-container {
        padding-left: 100%;
        opacity: 100%;
    }
}

.sidebar:not(:hover) {
    visibility: visible;
    .navlink-container {
        padding-left: 0%;
        opacity: 0%;
    }
}

.navlink-container {
    display: grid;
    gap: 30px;
    padding: 10% 5% 0 0%;
    margin-left: 10px;
    opacity: 0;
    text-align: left;
    transition: padding .75s, opacity 1s;
    width: 100%;
}

.navlink {
    color: rgb(255, 205, 68);
    text-shadow: black 0px 1px 3px;;
    font-size: 30px;
    text-decoration: none;
}