.menu-icon {
    left: 4px;
    position: fixed;
    top: 4px;
    z-index: 998;
}

.sidebar {
    background-color: rgb(255, 255, 255);
    border-radius: 0px 30px 30px 30px;
    box-shadow: 0px 0px 5px 1px rgba(158, 103, 0, 0.607);
    height: 330px;
    left: 0;  
    padding: 5px 0 0 5px;
    position: fixed;
    top: 0;
    width: 20%;
    z-index: 999;
}

.navlink-container {
    display: grid;
    gap: 50px;
    padding: 3% 5% 0 10%;
    text-align: left;
    width: 100%;
}

.navlink {
    color: rgb(255, 196, 33);
    text-decoration: none;
}