* {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  font-weight: normal;
  text-decoration: none;
}

h1 {
  font-size: 100px;
  font-weight: 500;
  letter-spacing: 3px;
  text-align: left;
}
  
h2 {
  font-size: 30px;
  letter-spacing: 1px;
  text-align: center;
}

main {
  align-items: center;
  padding-left: 1%;
  padding-top: 7%;
  width: 80%;
}

button {
  background-color: rgb(170, 170, 224);
  border: none;
  color: white;
  font-size: 30px;
}

.homepage-content{
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.homepage-image {
  margin-left: auto;
  margin-right: 0;
  width: 50%;
}

.homepage-text-container {
  align-items: center;
  display: flex;
  justify-content:space-between;
  padding-left: 1%;
  padding-top: 7%;
  text-shadow: 1px 1px 2px rgb(192, 206, 255);
  width: 80%;
  z-index: 1;
}

.homepage-subtitle {
  font-size: 30px;
  letter-spacing: 1px;
  padding-left: 1%;
  text-align: left;
}

.start-quiz-button {
  background-color: rgb(35, 151, 200);
  border: none;
  border-radius: 5px;
  color: rgb(255, 255, 255);
  display: block;
  font-size: 30px;
  height: 50px;
  margin-top: 50%;
  width: 200px;
} 

.menu-icon {
  position: relative;
  z-index: 999;
}

.sidebar {
  background-color: rgb(214, 214, 255);
  border-radius: 0px 20px 20px 0px;
  left: 0;  
  position: fixed;
  top: 0;
  width: 20%;
  z-index: 999;
}

.navlink-container {
  display: grid;
  gap: 50px;
  text-align: center;
  width: 180px;
}

.navlink {
  text-decoration: none;
}