@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Lexend+Deca:wght@800&family=Work+Sans:ital,wght@1,500&display=swap');

* {
  font-family: 'Lexend Deca', sans-serif;
  font-weight: normal;
  text-decoration: none;
  
}

body {
  background-color: rgb(255, 237, 186);
}

h1 {
  font-size: 100px;
  font-weight: 500;
  letter-spacing: 3px;
  margin-top: 23%;
  margin-bottom: 0;
  text-align: left;
}

main {
  align-items: center;
  padding-left: 1%;
  width: 80%;
}

button {
  background-color: rgb(170, 170, 224);
  border: none;
  color: white;
  font-size: 30px;
}

.homepage-content{
  bottom: 0;
  display: flex;
  flex-direction: column;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.homepage-image {
  border-radius: 50% 50% 0% 0%;
  bottom: 0;
  height: 650px;
  object-fit: cover;
  position: absolute;
  right: 5%;
  width: 600px;
  z-index: 0;
}

.egg-white {
  position: absolute;
  background-color: rgb(255, 252, 250);
  border-radius: 60% 80% 60% 60%;
  bottom: 24%;
  left: 30%;
  height: 100px;
  width: 250px;
  z-index: 0;
}

.homepage-text-container {
  align-items: center;
  width: 40%;
  z-index: 1;
}

.start-quiz-button {
  background-color: transparent;
  border: solid;
  border-radius: 100px;
  bottom: 26%;
  color: rgb(0, 0, 0);
  display: block;
  font-size: 30px;
  height: 100px;
  left: 35%;
  position: absolute;
  width: 100px;
} 

.start-quiz-button:hover {
  background-color: rgb(254, 207, 76);
  border-color: rgb(254, 207, 76);
  color: rgb(255, 255, 255);
}

.menu-icon {
  position: relative;
  z-index: 999;
}

.sidebar {
  background-color: rgb(255, 255, 255);
  border-radius: 0px 20px 20px 0px;
  left: 0;  
  position: fixed;
  top: 0;
  width: 15%;
  z-index: 999;
}

.navlink-container {
  display: grid;
  gap: 50px;
  text-align: center;
  width: 180px;
}

.navlink {
  text-decoration: none;
}