@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Lexend+Deca:wght@800&family=Work+Sans:ital,wght@1,500&display=swap');

* {
  font-family: 'Lexend Deca', sans-serif;
  font-weight: normal;
  text-decoration: none;
  
}

body {
  background-color: rgb(255, 237, 186);
  margin: 0;
}

h1 {
  font-size: 100px;
  font-weight: 500;
  letter-spacing: 3px;
  margin-top: 23%;
  margin-bottom: 0;
  text-align: left;
}

button {
  background-color: rgb(170, 170, 224);
  border: none;
  color: white;
  font-size: 30px;
}

span {
  color: darkseagreen;
}

.homepage-content{
  bottom: 0;
  display: flex;
  flex-direction: column;
  left: 30px;
  position: absolute;
  right: 0;
  top: 0;
}

.homepage-image {
  border-radius: 50% 50% 0% 0%;
  bottom: 0;
  height: 650px;
  object-fit: cover;
  position: absolute;
  right: 5%;
  width: 600px;
  z-index: 0;
}

.egg-white {
  position: absolute;
  background-color: rgb(255, 252, 250);
  border-radius: 60% 80% 60% 60%;
  bottom: 24%;
  left: 30%;
  height: 100px;
  width: 250px;
  z-index: 0;
}

.homepage-text-container {
  align-items: center;
  width: 40%;
  z-index: 1;
}

.start-quiz-button {
  background-color: transparent;
  border: solid;
  border-radius: 100px;
  bottom: 26%;
  color: rgb(0, 0, 0);
  display: block;
  font-size: 30px;
  height: 100px;
  left: 35%;
  position: absolute;
  width: 100px;
} 

.start-quiz-button:hover {
  background-color: rgb(254, 207, 76);
  border-color: rgb(254, 207, 76);
  color: rgb(255, 255, 255);
}

.menu-icon {
  top: 4px;
  left: 4px;
  position: fixed;
  z-index: 998;
}

.sidebar {
  background-color: rgb(255, 255, 255);
  border-radius: 0px 20px 20px 0px;
  left: 0;  
  position: fixed;
  top: 0;
  width: 20%;
  z-index: 999;
}

.quiz-container {
 align-items: center;
 display: flex;
 justify-content: center;
 margin-top: 100px;
 text-align: center;
 vertical-align: middle;
}

.quiz-question {
  font-size: 40px;
  margin-top: 0px;
  width: 500px;
}

.selection-container {
 align-items: center;
 list-style: none; 
 vertical-align: middle;
}

.selection-button {
  background-color: rgb(254, 207, 76);
  border-radius: 15px;
  margin: 5px;
  padding: 5px 0px;
  width: 550px;
}

.selection-button:hover {
  background-color: white;
  color: rgb(254, 207, 76);
}

.navlink-container {
  display: grid;
  gap: 50px;
  text-align: center;
  width: 180px;
}

.navlink {
  text-decoration: none;
}

.result-title {
  font-size: 60px;
  margin-top: 0px;
  text-align: center;
}

.result-subtitle {
  font-size: 30px;
  text-align: center;
}

.result-description {
  font-size: 20px;
  margin:0 auto;
  text-align: center;
  width: 700px;
  padding-bottom: 200px;
}

.twelve-steps-button {
  position: fixed;
  bottom: 5%;
  left: 45%;
  width: 160px;
  height: 160px;
  border-radius: 100px;
  background-color: darkseagreen;
  z-index: 2;
}

.twelve-steps-button:hover {
  border: solid;
  background-color: transparent;
  color:darkseagreen;
  border-color: darkseagreen;
}

.egg-white-two {
  background-color: rgb(255, 252, 250);
  border-radius: 60% 80% 60% 60%;
  bottom: 1%;
  left: 35%;
  position: fixed;
  height: 150px;
  width: 450px;
  z-index: 1;
}

.article {
  margin: 0;
  vertical-align: middle;
  z-index: 1;
}

.article-header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100vh;
  margin: 0;
  vertical-align: middle;
  z-index: 0;
}

.article-title {
  font-size: 130px;
  height: 100vh;
  margin: 25% 0 ;
  color: black;
  text-align: center;
  text-shadow: 40px -40px rgb(237, 211, 171);
  vertical-align: middle;
}

.article-picture {
  height: 100vh;
  object-fit: cover;
  width: 100%;
  z-index: 0;
}

.egg-carton-container {
  text-align: center;
}

.egg-carton {
  width: 80%; 
  margin: 0 auto;
}

.article-items {
  list-style-type: none;
  margin: 0 auto;
}

li {
  font-size: 35px;
}

ol {
  padding: 0;
}

hr {
  height: 12px;
  margin: 0;
  padding: 0;
  border: 0;
  box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5);
}

.article-items li {
  padding: 20px 0;
}

.article-items li p {
  font-size: 24px;
}

.article-items .article-subtitle {
  font-size: 45px;
  text-align: center;
  margin: 5% auto;
  width: 75%;
  padding: 70px;
  background-color: rgb(255, 244, 214);
  vertical-align: middle;
  box-shadow:  0px 12px 12px -12px rgba(0, 0, 0, 0.5);
  border-radius: 40px 40px 40px 40px;
}

.article-subtitle span {
  color:rgb(243, 198, 74);
}